extends layout

block content
  .container
    h1 About Us
    p This is some placeholder text here because I am just writing content for a generic template.
    ul
      li This is one li
      li This is two li
      li This is three li
    p This is some more placeholder text because you know as I stated about this is just a generic template.

