extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p This is a sub-headline. Please fill this with something relevant.
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
    .row
        .col-md-4
          h2 About Us
          p This is something about us.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Services
          p This is something about services.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Get In Touch
          p This is something about contact.
          a.btn.btn-default(href='#') View Details
