extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p Lorem ispsona-esrjgr gs rgjisdfg jadkng  rg sdguoh sdrgusdufgh sdufg as;gs g sdiogj argi .
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
    .row
        .col-md-4
          h2 About Us
          p skdjgh is agsohg    sg s g   g g g gaojfias dfj.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Services
          p skdjgh is agsohg    sg s g   g g g gaojfias dfj.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Get In Touch
          p skdjgh is agsohg    sg s g   g g g gaojfias dfj.
          a.btn.btn-default(href='#') View Details
